body {
  margin: 0;
  -ms-overflow-style: none; /*  Hide scrollbar for IE and Edge */
  scrollbar-width: none !important; /*  Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Site Font";
  src: url("src/assets/font.woff") format("woff");
}

* {
  font-family: "Site Font", sans-serif;
}

.non-selectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
