body {
  margin: 0;
}

@font-face {
  font-family: "Site Font";
  src: url("src/assets/font.woff") format("woff");
}

* {
  font-family: "Site Font", sans-serif;
}

.non-selectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
